@import "null.css";

@font-face {
    font-family: "CircularStd";
    src: url("../fonts/CircularStd-Black.woff2") format('woff2'), url("../fonts/CircularStd-Black.woff") format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "CircularStd";
    src: url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "CircularStd";
    src: url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "CircularStd";
    src: url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularStd-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

.wrapper {
	min-height: 100%;
	min-width: 1440px;
    overflow: hidden;
    margin-top: 140px;

}


h1{
    color: #313131;
    font-family: "CircularStd";
    font-size: 65px;
    font-weight: 400;
    line-height: 1.26;
    text-align: center;
    margin: 0 0 20px 0;
    }
.about{
    color: #5f5f5f;
    font-family: "CircularStd";
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    line-height: 1.25;
    margin: 0 auto 224px;

    
}
h2{
    color: #313131;
    font-family: "CircularStd";
    font-size: 34px;
    font-weight: 700;
    line-height: 1.3;
    padding: 0 0 0 207px;
    margin-bottom: 20px;
}
.main-text{
    color: #5f5f5f;
    font-family: "CircularStd";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.55;
    padding-left: 207px;
    padding-right: 725px;
    margin-bottom: 125px ;
    
}
h3{
    color: #313131;
    font-family: "CircularStd";
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3;
    padding-left: 207px;
    margin-bottom: 5px;
}
.signature{
    color: #b8b8b8;
    font-family: "CircularStd";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.27;
    padding-left: 207px;
    margin-bottom: 100px;

}
.img{
   
    box-sizing: border-box;
    padding-left: 207px;
    ;
    
}

